/*
====================
Variables
====================
*/
:root {
    /* colors */
    --light-gold: rgb(243, 178, 12);
    --dark-gold: rgb(218, 165, 34);
    --dark-orange: rgb(190, 126, 6);
    --black-sd: rgba(0, 0, 0, 1);
    --black-trans: rgba(0, 0, 0, 0.5);
    --gray-text: rgb(83, 81, 81);
    --gray-dark-bg: rgb(235, 227, 227);
    --gray-light-bg: hsl(210, 36%, 96%);
    --white: rgb(255, 255, 255);
    /*others*/
    --spacing-sm: 0.1rem;
    --spacing-lg: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --border: 1px solid black;
}

/*
====================
Global styles
====================
*/
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.25;
    font-size: 1rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing-sm);
    text-transform: capitalize;
    line-height: 1.25;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
img {
    width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
html {
    scroll-behavior: smooth;
}
.btn {
    cursor: pointer;
    transition: 0.2s linear;
}

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1.05rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
}
/*
====================
Custom styles
====================
*/
.contain {
    background: rgb(235, 231, 231);
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
}

img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.img-div {
    /*border: var(--border);
    height: 345px;*/
    width: 100%;
}

.img-contain {
    position: absolute;
    display: flex;
    width: 800%;
}

.img-frame {
    position: relative;
    border: 3px solid goldenrod;
    width: 100%;
    height: 286px;
    margin-bottom: 20px;
    overflow: hidden;
}

.nav {
    padding: 5px;
    font-size: 1.1rem;
    color: rgb(131, 96, 8);
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    letter-spacing: var(--spacing-lg);
    text-transform: capitalize;
}
.left {
    display: non;
}
.right {
    display: initial;
}
.start .left {
    display: initial;
}
.end .right {
    display: none;
}
.end .left {
    display: initial;
}

.left:hover, .right:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
    img {
        height: 380px;
    }
    .img-frame {
        height: 386px;
    }
}