.sidebar {
    transition: 1s;
}

body {
    transition: 1s;
}

#close:hover {
    transform: rotate(180deg);
}
#close {
    transition: 1.5s;
}

@media screen and (max-width: 510px) {
    .sidebar {
        width: 100% !important;
    }
}